#titulo{
  color: #fff;
	font-size:30pt;
	}
#noticia{
	border-radius: 35px;
}
#image_directiva{
	width: 120px;
	height: 120px;
}
.cabecera_reportes{
	font-weight: bold;
	font-size: 16pt;
}
#image_socios{
	width: 100px;
	height: 100px;
}
#info-socios .texto-center{
	padding-top: 4%;
}
.form-space{
	margin: 10px auto;
}