{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block style %}
<style type="text/css">
input[type="password"]{
  margin: 10px auto;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3c8dbc;
  font-size: 16pt;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
</style>
{% endblock style %}
{% block title %}
Cambio de Contraseña
{% endblock %}
{% block contenido %}
        <h2> Cambio de clave</h2>
        <hr>
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <th>
                        <label>Contraseña Actual:</label>
                    </th>
                    <td>
                        {{form.old_password}}
                    </td>
                </tr>
                <hr>
                <tr>
                    <th>
                        <label>Contraseña Nueva:</label>
                    </th>
                    <td>
                        {{form.new_password1}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Repetir Contraseña:</label>
                    </th>
                    <td>
                        {{form.new_password2}}
                    </td>
                </tr>
            </table>
            <p>
                <input class="btn btn-large btn-success" type="submit" value="Cambiar" />
            </p>
        </form>
{% endblock contenido %}