{% extends 'backend/base.html' %}
{% load staticfiles %}
    {% block title %}
    <title>Cambio de Contraseña</title>
    {% endblock %}
    {% block contenido %}
            <h2> Cambio de clave</h2>
            <hr>
            <form method="post" action="">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <p>
                    <input class="btn btn-large btn-success" type="submit" value="Cambiar" />
                </p>
            </form>
    {% endblock contenido %}