{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".oculto").hide();
            $(".editar").click(function(){
              $(".mostrar").hide();
              $(".oculto").show();
            })
            $(".cancelar").click(function(){
              $(".mostrar").show();
              $(".oculto").hide();
            })
        });
    </script>
{% endblock scripts %}
{% block contenido %}
  <hr/>
  <h3 class="text-center text-info">REPORTES DE INGRESOS</h3>
  <div class="row">
    <div class="reportes-generales tabla-responsive col-lg-12">
      <table class="table table-hover">
        <tr class="cabecera_reportes">
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>ACTIVO</th>
          <th>FECHA DE PARADA</th>
          <th></th><th></th>
        </tr>
        {% for i in socios %}
        <tr>
          <th>{{i.socio.first_name}}</th>
          <th>{{i.socio.last_name}}</th>
          <th>{{i.is_active}}</th>
          <th>{{i.orden_parada}}</th>
          <div>
            <th class="mostrar">
              <button class="editar btn btn-success btn-sm">
                Editar
              </button>
            </th>
            <th class="mostrar">
              <button class="eliminar btn btn-danger btn-sm">
                Eliminar
              </button>
            </th>
          </div>
          <div>
            <th class="oculto">
              <button class="guardar btn btn-success btn-sm">
                Guardar
              </button>
            </th>
            <th class="oculto">
              <button class="cancelar btn btn-danger btn-sm">
                Cancelar
              </button>
            </th>
          </div>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% endblock contenido %}
