{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block page_title %}
    Aperuta de año <small>Aperturar un nuevo año</small> 
{% endblock page_title %}

{% block contenido %}          
   <div class="box">
      <header class="box-header">
        <h3></h3>
      </header>
      <section class="box-body"></section>
   </div>
{% endblock contenido %}

{% block breadcrumb %}
    <li><a href="/administracion"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Apertura</a></li>
{% endblock breadcrumb %}