{% extends 'backend/base.html' %}
{% load staticfiles %}
{% block page_title %}
    Noticias
{% endblock page_title %}

{% block contenido %}          
   
  <div class="row">
    <div class="reportes-generales tabla-responsive col-lg-8">
      <table class="table table-hover">
        <tr>
          <th>Portada</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
        {% for item in noticias %}
        <tr>
      <td>
          <img id="image_directiva" src="{{MEDIA_URL}}{{item.picture}}" />
      </td>
      <td>{{item.titulo }}</td>
      <td>{{item.descripcion }}</td>
    <td class="edit">
      <a class="" href="{% url 'edit_noticias' item.id %}">
        EDITAR
      </a>
    </td>
    <td class="edit">
      <a href="{% url 'del_noticias' item.id %}">
        BORRAR
      </a>
    </td>
    </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center text-info">INGRESAR NUEVA NOTICIA</h3><hr/>
      <form  method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}
          <table>
          <tr>
            <th>Portada</th>
            <td>{{formulario.picture}}</td>
          </tr>
          <tr>
            <th>Titulo</th>
            <td>{{formulario.titulo}}</td>
          </tr>
          <tr>
            <th>Descripcion</th>
            <td>{{formulario.descripcion}}</td>
          </tr>
          <tr>
            <th></th>
            <td>{{formulario.user}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td><button class="btn btn-success btn-xm btn-block" type="submit">Guardar</button></td>
          </tr>
          </table>    
        </form>
      </div>
    </div>

{% endblock contenido %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_user').hide();
  $("#id_user").val({{usuario.id}});
})
</script>
{% endblock scripts %}