{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'multimedia/default.css' %}" rel="stylesheet" />
<link href="{% static 'multimedia/component.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'multimedia/modernizr.custom.js' %}"></script>
{% endblock css %}
{% block script %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static 'multimedia/grid.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){$("#galeria").addClass("active")});
</script>
<script>
  $(function() {
    Grid.init();
  });
</script>
{% endblock script %}
{% block contenido %}

    <ul id="og-grid" class="og-grid">
      {% for i in fotoSocios %}
      {% if i%}
        <li>
          <a href="#" data-largesrc="{{MEDIA_URL}}{{i.picture}}" data-title="{{i.first_name}} {{i.last_name}}" data-description="{{i.orden_parada}}">
            <img width="200px" height="200px" src="{{MEDIA_URL}}{{i.picture}}" alt="{{i.picture}}"/>
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

<br/><br/><br/><br/>
{% endblock contenido %}