{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block style %}
<style>
#page {
    width: 980px;
    margin: 0 auto;
}
#header {
    height: 100px;
  border:1px solid #CCCCCC;
  margin-bottom:10px;
  text-align:center;
}
#content {
    width: 100%;
    float: left;
}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

#footer {
    border: 1px solid #CCCCCC;
    float: left;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    width: 960px;
}
@media screen and (max-width: 980px) {

    #page { width: 100%; }
    #content { width: 100%; }
}

@media screen and (max-width: 700px) {

    #content, #footer {
        width: auto;
        float: none;
  height:auto;
    }
  
    #header h1 {
            font-size:small;
    }
}
</style>
{% endblock style %}
{% block contenido %}
  <div class="row">

          <div class="col-lg-3 text-center">
            <img src="{% static 'img/noticias/sanroque.png' %}" alt="Generic placeholder image" style="width: 140px; height: 170px;">
            <h2>San Roque</h2>
            <p>Nació en Francia, en la ciudad de Montpellier, el año 1295, de padres ricos. "Roc" o "Roque" era seguramente su apellido. En aquella comarca hubo otros "Roques" por aquel siglo. No sabemos su nombre de pila. Murió en 1327. - Fiesta: 16 de agosto.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>

          <iframe class="col-lg-6" height="350px" src="https://www.youtube.com/embed/_Qg_29ciQUE" frameborder="0" allowfullscreen></iframe>

          <div class="col-lg-3 text-center">
            <img src="{% static 'img/noticias/avelino.png' %}" alt="Generic placeholder image" style="width: 140px; height: 170px;">
            <h2>Avelino</h2>
            <p>Danza de los Avelinos, tiene su origen ancestral en la infausta Guerra del Pacífico, allá por los años de 1879 a 1833, en la que durante la Campaña de resistencia",de la breña marchaban los guerrilleros o montoneros de Cáceres, al compás de “yana y Jarachamanta”.</p>
            <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
          </div>

      </div><br/><br/>
      {% if noti %}
      {% for sss in noti%}
      <div class="row container">
              <div class="col-lg-6">
                  <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"> 
                      <img id="noticia" src="{{MEDIA_URL}}{{sss.picture}}" alt="..." />
                  </a>
              </div>
              <!--
              <img id="noticia" class="col-lg-6" src="{% static 'img/noticias/fiesta270315.jpg' %}" />
              -->
              <div class="col-lg-6">
                <h2>{{sss.titulo}}</h2>
                <p style="text-align:justify">{{sss.descripcion}}</p>
              </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
{% if noti %}
{% for sss in noti%}
    <div id="content row">
        <p><a href="#popup" class="fancybox"></a></p>
        <div id="popup" style="display:none; width:560px;">
            <img class="col-lg-12" src="{{MEDIA_URL}}{{sss.picture}}" alt="..." />
        </div>  
    </div>
{% endfor %}
{% endif %}
{% endblock contenido %}
{% block script %}
<script>
$(document).ready(function () {
    $(".fancybox").fancybox();
    $(".fancybox").trigger('click');
});
</script>
<script type="text/javascript">
$(document).ready(function(){$("#home").addClass("active")});
</script>
{% endblock script %}
