{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block style %}
<style type="text/css">
body{
  text-align: justify;
}
</style>
{% endblock style %}
{% block script %}<script type="text/javascript">
$(document).ready(function(){$("#quienes_somos").addClass("active")});
</script>{% endblock script %}
{% block contenido %}
  <div class="row container">
      <div class="col-lg-4">
          <h3 class="text-info">
            "SOCIEDAD DE AVELINOS SAN ROQUE DE HUALHUAS" "SASAR"
          </h3>
          <p>
            Sociedad de Avelinos San Roque fue fundado en agosto de 1963, en el Distrito de Hualhuas, por los Señores, Ignacio Chipana Medina, Rodolfo Gamarra Cuyutupac, Lucio Chipana Medina, Tolomeo Chipana Daviran; Macario Chipana Daviran, Silvino Salinas Rojas entre otros, con el objetivo de fomentar el Folklore de los avelinos, además como un órgano de apoyo al desarrollo distrital, en sus diferentes formas, como una organización civil, al servicio de todos sus hijos hualhuinos.
          <p>
          </p>
            Posteriormente adopta otra denominación, esta ves ya en forma legal y con personería jurídica consignándole la denominación de "ASOCIACIÓN SOCIEDAD DE AVELINOS SAN ROQUE HUALHUAS" sasar.
          </p>
      </div>
      <div class="col-lg-4">
          <h3 class="text-info">
            INFLUENCIA SOCIO CULTURAL DE LOS AVELINOS
          </h3>
          <p>
            Dentro del quehacer del Distrito de Hualhuas, se ha ido evolucionado constantemente, culturalmente, dando lugar a que las instituciones hayan realizado fructífera labor, tratando de mantener la cultura, la historia y apoyo directo a la comunidad, y a las diferentes instituciones sobre todo de en el aspecto social; también se ha hecho publicaciones de folletos y revistas como la denominada HUALHUAS CUNA DE ARTESANOS entre otras de suma importancia con el propósito de llevarse a acabo las festividades en honor al Patrón San Roque entre los días 22 al 28 de agosto de cada año.
            Además muchos intelectuales de la región se han interesado por estos acontecimientos de carácter sociocultural-histórico folclórico, siendo estos: que han realizado importantes publicaciones de artículos conmemorativos a la fecha.
          </p>
      </div>
      <div class="col-lg-4">
          <h3 class="text-info">
            FINALIDAD DE ESTAS INSTITUCIONES
          </h3>
          <p>
            La finalidad de la Asociación en el aspecto cultural-folklórico, es la de querer sobresalir, y demostrar mucha alegría durante los días de jolgorio, que duran la festividades de "San Roque" 
            Por esta razón se han creado varias instituciones siendo estas: la Sociedad de Avelino Auxilios Mutuos, a quines llamamos cariñosamente nuestros compadres. Y otras Instituciones ya que con el correr de los años “Los Avelinos” han influenciado culturalmente y folklóricamente en otros géneros que se asocia a la festividad, como son los Chonguinos
          </p>
      </div>
  </div>
  <div class="row container">
      <div class="col-lg-3">
          <h3 class="text-info">
            VISIÓN
          </h3>
          <p>
            Hacer de nuestra Organización Asociación Sociedad de Avelinos San Roque en los próximos 10 años líder por su capacidad de gestión asociativa, cultural, y su contribución al desarrollo del pensamiento solidario y colectivo, con reconocimiento Distrital, regional y a nivel Nacional e Internacional.
          </p>
      </div>
      <div class="col-lg-3">
          <h3 class="text-info">
            MISIÓN
          </h3>
          <p>
            Constituirse en una herramienta generadora y transmisora de cultura en todas las áreas del conocimiento humano fomentando la educación y por medio de está contribuir, al mejoramiento de la calidad de vida de sus asociados y la población en general, fomentando relaciones reciprocas de cooperación, confianza y constancia.
          </p>
      </div>
      <div class="col-lg-6">
          <h3 class="text-info">
            Nuestros Valores
          </h3>
          <p>
            Fe, buscando el equilibrio entre lo que hacemos, y nuestro espíritu, teniendo como soporte a nuestro Santo San Roque
            Confianza para construir entre cada uno de sus asociados, relaciones sociales de cooperación, respaldo y esperanza en la organización como institución viva. De la sociedad civil.
            Respeto, forjar una convivencia constructiva y en armonía con nuestra realidad .
            Responsabilidad asumiendo los resultados y consecuencias de las acciones y las decisiones tomadas en su oportunidad . 
            Honestidad buscar la garantía del uso racional de los recursos materiales y económicos y no lamentarnos en futuro
            Vigilancia. Es necesario que los socios tengan puesto los ojos en los actos y hechos que puedan ser materia de investigación e intervención.
            Solidaridad, debe convocar generar oportunidades de desarrollo y beneficio en bien de los asociados y la propia población de Hualhuas.
            Participación generando acceso de igualdad y oportunidad, autogestión y ejercicio democrático. 
            Alegría haciendo lo que amamos, disfrutando de nuestra fiesta con Jolgorio, entusiasmo y mucha entrega.
          </p>
      </div>
  </div>
<br/>
{% endblock contenido %}