{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block script %}<script type="text/javascript">
$(document).ready(function(){$("#socios").addClass("active");$("#quienesSomos").addClass("active")});
</script>{% endblock script %}
{% block contenido %}

  <div class="row">
    <div class="reportes-generales tabla-responsive col-lg-12">
      <table class="table table-hover">
        <tr>
          <th>Portada</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Correo Electronico</th>
          <th>Orden De Parada</th>
          <th>Activo</th>
        </tr>
        {% for item in usuarios %}
        <tr id="info-socios">
            <td>
                <img id="image_socios" src="{{MEDIA_URL}}{{item.socio.picture}}" />
            </td>
            <td class="texto-center">{{ item.last_name }}</td>
            <td class="texto-center">{{ item.first_name }}</td>
            <td class="texto-center">{{ item.email }}</td>
            <td class="texto-center">{{ item.orden_parada|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="texto-center">
                {% if item.is_active %}
                <p class="text-info">SI</p>
                {% else %}
                <p class="text-danger">NO</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
      
    </div>
  </div>
  <br/><br/><br/>

{% endblock contenido %}