{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'multimedia/default.css' %}" rel="stylesheet" />
<link href="{% static 'multimedia/component.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'multimedia/modernizr.custom.js' %}"></script>
{% endblock css %}
{% block script %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static 'multimedia/videos.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){$("#galeria").addClass("active")});
</script>
<script>
  $(function() {
    Grid.init();
  });
</script>
{% endblock script %}
{% block contenido %}

    <ul id="" class="">
      {% for i in videosSocios %}
      {% if i.video == "" %}
        
      {% else %}
        <li style="display:inline">
            <video width="350px" height="300px" controls>
              <source src="{{MEDIA_URL}}{{i.video}}" type="video/mp4">Video
            </video>
        </li>
      {% endif %}
      {% endfor %}
    </ul>

<br/><br/><br/><br/>
{% endblock contenido %}