{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block script %}<script type="text/javascript">
$(document).ready(function(){$("#vision_mision").addClass("active");$("#home").addClass("active")});
</script>{% endblock script %}
{% block contenido %}
  <div class="row container">
      <div class="col-lg-6">
          <h3 class="text-primary text-center">
            VISIÓN
          </h3>
          <p class="text-justify">
            Hacer de nuestra Organización Asociación Sociedad de Avelinos San Roque en los próximos 10 años líder por su capacidad de gestión asociativa, cultural, y su contribución al desarrollo del pensamiento solidario y colectivo, con reconocimiento Distrital, regional y a nivel Nacional e Internacional.
          </p>
      </div>
      <div class="col-lg-6">
          <h3 class="text-primary text-center">
            MISIÓN
          </h3>
          <p class="text-justify">
            Constituirse en una herramienta generadora y transmisora de cultura en todas las áreas del conocimiento humano fomentando la educación y por medio de está contribuir, al mejoramiento de la calidad de vida de sus asociados y la población en general, fomentando relaciones reciprocas de cooperación, confianza y constancia.
          </p>
      </div>
  </div>
<br/><br/><br/><br/>
{% endblock contenido %}